<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Darbuotojų valdymas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null, 'add')">Pridėti darbuotoją <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Darbuotojo paieška..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.name}}</h5>
                        <p class="m-0">{{employee?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}</li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Tel. Nr. : {{employee?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Naujas darbuotojas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
                        <div class="form-group">
                            <label for="name">Vardas</label>
                            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Vardas" required>
                        </div>
                        <div class="form-group">
                            <label for="email">El. pašto adresas</label>
                            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="El. pašto adresas" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Pareigos</label>
                            <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Pareigos" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefono numeris</label>
                            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Telefono numeris" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Nuotraukos URL</label>
                            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Nuotraukos URL" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Išsaugoti</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEmployeeModalLabel">Redaguojama darbuotojo {{editEmployee?.name}} kortelė</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="name">Vardas</label>
                            <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Vardas">
                        </div>
                        <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                        <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="El. pašto adresas">
                        <div class="form-group">
                            <label for="email">El. pašto adresas</label>
                            <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="El. pašto adresas">
                        </div>
                        <div class="form-group">
                            <label for="phone">Pareigos</label>
                            <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Pareigos">
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefono numeris</label>
                            <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Telefono numeris">
                        </div>
                        <div class="form-group">
                            <label for="phone">Nuotraukos URL</label>
                            <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Nuotraukos URL">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Uždaryti</button>
                            <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary">Išsaugoti pakeitimus</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Darbuotojo kortelės pašalinimas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Ar esate įsitikinęs, kad norite pašalinti {{deleteEmployee?.name}} iš sąrašo?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button (click)="onDeleteEmloyee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Taip</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">TOKIO DARBUOTOJO DAR NĖRA!</h4>
        <p>Ieškomas darbuotojas nerastas, patikslinkite paiešką arba: </p>
        <div class="modal-footer">
            <button (click)="onOpenModal(null, 'add')" class="btn btn-danger" data-dismiss="modal">Pridėkite naują darbuotoją</button>
            <a href="~/Views/Home/Index.cshtml" data-dismiss="modal" class="btn btn-secondary">Grįškite į darbuotojų sąrašą</a>
        </div>
    </div>
</div>